NEXT_PUBLIC_SUPABASE_URL=https://gvddhnibeihmhtznwbpd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2ZGRobmliZWlobWh0em53YnBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3NDY1MDYsImV4cCI6MjA4MDMyMjUwNn0.jzNybT-XN6V4KS9UpmOmexMZBZChGtiM2MjIFch65aY